[submodule "Comic-Books"]
	path = Comic-Books
	url = https://github.com/felixrodrigo19/Comic-Books.git
[submodule "feelings-analyzer"]
	path = feelings-analyzer
	url = https://github.com/felixrodrigo19/feelings-analyzer.git
[submodule "Cogumelos"]
	path = Cogumelos
	url = https://github.com/felixrodrigo19/Cogumelos.git
[submodule "BOW"]
	path = BOW
	url = https://github.com/felixrodrigo19/BOW.git
[submodule "credit"]
	path = credit
	url = https://github.com/felixrodrigo19/credit.git
[submodule "Stellar-Classification"]
	path = Stellar-Classification
	url = https://github.com/felixrodrigo19/Stellar-Classification.git
